.container {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-left: 260px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    margin-left: 80px;
  }
}

